In [1]:
import pandas as pd 
import numpy as np 
import os 
import misc

In [2]:
frame = pd.read_excel("./dataset/LC_NSCLC_20200512_(n=317).xlsx", converters=misc.CONVERTERS)
frame.head(5)

,PatientID,gender,age,Survival.time,Mcode,Mcode.description,Histology,Overall.stage,Clinical.T.Stage,Clinical.N.stage,Clinical.M.stage,Smoking.status,Smoking.amount,Deadstatus.event
0,LC00095,0.0,57.756164,3,m8140/3,Adenocarcinoma,0.0,3.0,3.0,3,1,1,40.0,1
1,LC00118,0.0,67.534247,374,m8070/3,Squamous cell carcinoma,1.0,2.0,2.0,2,0,1,60.0,1
2,LC00124,0.0,70.498630,54,m8070/3,Squamous cell carcinoma,1.0,0.0,0.0,0,0,1,50.0,1
3,LC00135,0.0,44.490411,232,m8140/3,Adenocarcinoma,0.0,3.0,3.0,3,1,0,0.0,1
4,LC00140,0.0,53.449315,1546,m8140/3,Adenocarcinoma,0.0,3.0,1.0,3,0,1,10.0,1

In [3]:
histology = misc.to_categorical(frame["Histology"], 4)
overall_stage = misc.to_categorical(frame["Overall.stage"], 4)
T_stage = misc.to_categorical(frame["Clinical.T.Stage"], 4)
N_stage = misc.to_categorical(frame["Clinical.N.stage"], 4)
M_stage = misc.to_categorical(frame["Clinical.M.stage"], 2)
gender = misc.to_categorical(frame["gender"], 2)
print(histology.shape)
print(overall_stage.shape)
print(T_stage.shape)

(317, 4)
(317, 4)
(317, 4)

In [4]:
frame_ = frame.drop(["gender", "Histology", "Overall.stage", 
                     "Clinical.T.Stage", "Clinical.N.stage", 
                     "Clinical.M.stage", "Mcode", "Smoking.status",
                     "Mcode.description"], axis=1)

In [5]:

data = np.concatenate((histology, overall_stage, T_stage, N_stage, M_stage,gender), axis=1)
data.shape

(317, 20)

In [6]:
# columns = ["histology_0" ,"histology_1", "histology_2", "histology_3",
#            "overall_stage_0", "overall_stage_1", "overall_stage_2", "overall_stage_3",
#            "T_stage_0", "T_stage_1", "T_stage_2", "T_stage_3",
#            "N_stage_0", "N_stage_1", "N_stage_2", "N_stage_3",
#            "M_stage_0",  "M_stage_1",
#            "gender_0", "gender_1"]


frame_new = pd.concat([pd.DataFrame(data), frame_], axis=1)
patientID = np.unique(frame_.PatientID)
print(len(patientID))

frame_new = frame_new.set_index("PatientID")

#frame_new.to_csv("./dataset/test.csv", index=True)

317

In [16]:
frame = pd.read_csv("./dataset/test.csv")
patientID = np.unique(frame.PatientID)
frame = frame.set_index("PatientID")
fields = ["age", "Smoking.amount"]
frame[fields] = (frame[fields] - frame[fields].min()) / (frame[fields].max() - frame[fields].min())
columns = [str(i) for i in range(20)]
columns.extend(fields)

frame[columns]
frame["Deadstatus.event"]
frame["Survival.time"]

PatientID
LC00095       3
LC00118     374
LC00124      54
LC00135     232
LC00140    1546
           ...
LC05165    1820
LC05166    1808
LC05177    1185
LC05179    1350
LC05195    2674
Name: Survival.time, Length: 317, dtype: int64

In [17]:
frame["Survival.time"]/7

PatientID
LC00095      0.428571
LC00118     53.428571
LC00124      7.714286
LC00135     33.142857
LC00140    220.857143
              ...
LC05165    260.000000
LC05166    258.285714
LC05177    169.285714
LC05179    192.857143
LC05195    382.000000
Name: Survival.time, Length: 317, dtype: float64